In [3]:
%config Completer.use_jedi = False

import pandas as pd
from sqlalchemy import create_engine
# from config import *
import datetime

In [4]:
crime_incidents_file = "Data/CriminalIncidentsData.csv"
crime_incidents_df = pd.read_csv(crime_incidents_file)
crime_incidents_df.head()

,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2021,March,1 North West Metro,Banyule,"6,308","4,794.9"
1,2021,March,1 North West Metro,Brimbank,"14,560","7,132.9"
2,2021,March,1 North West Metro,Darebin,"11,513","6,968.1"
3,2021,March,1 North West Metro,Hobsons Bay,"4,469","4,583.9"
4,2021,March,1 North West Metro,Hume,"15,540","6,301.2"

In [5]:
offence_file = "Data/OffenceDivisionData.csv"
offence_df = pd.read_csv(offence_file)
offence_df.head()

,Year,Year ending,Police Service Area,Local Government Area,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,"PSA Rate per 100,000 population","LGA Rate per 100,000 population"
0,2021,March,Ballarat,Ballarat,A Crimes against the person,A10 Homicide and related offences,A10 Homicide and related offences,2,1.7,1.8
1,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,143,118.6,126.5
2,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,131,108.6,115.9
3,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",34,28.2,30.1
4,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,279,231.3,246.8

In [6]:
victim_file = "Data/FamilyVictimsData.csv"
victim_df = pd.read_csv(victim_file)
victim_df.head()

,Year,Year ending,AFM Sex,AFM Age Group,AFM Counter,"Rate per 100,000 population"
0,2021,March,Females,00-04 years,242,127.8
1,2021,March,Females,05-09 years,543,266.1
2,2021,March,Females,10-14 years,"1,696",870.1
3,2021,March,Females,15-17 years,"2,262","2,081.5"
4,2021,March,Females,18-19 years,"2,165","2,994.0"

In [7]:
crime_incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         870 non-null    int64
 1   Year ending                  870 non-null    object
 2   Police Region                870 non-null    object
 3   Local Government Area        870 non-null    object
 4   Incidents Recorded           870 non-null    object
 5   Rate per 100,000 population  830 non-null    object
dtypes: int64(1), object(5)
memory usage: 40.9+ KB

In [14]:
crime_incidents_df_yrfilter = crime_incidents_df.loc[((crime_incidents_df['Year'] >= 2017) & (crime_incidents_df['Year'] <= 2021))]
crime_incidents_df_yrfilter

,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2021,March,1 North West Metro,Banyule,"6,308","4,794.9"
1,2021,March,1 North West Metro,Brimbank,"14,560","7,132.9"
2,2021,March,1 North West Metro,Darebin,"11,513","6,968.1"
3,2021,March,1 North West Metro,Hobsons Bay,"4,469","4,583.9"
4,2021,March,1 North West Metro,Hume,"15,540","6,301.2"
...,...,...,...,...,...,...
430,2017,March,4 Western,Total,"66,704","6,795.8"
431,2017,March,Justice Institutions and Immigration Facilities,Justice Institutions and Immigration Facilities,"1,125",NaN
432,2017,March,Justice Institutions and Immigration Facilities,Total,"1,125",NaN
433,2017,March,Unincorporated Vic,Unincorporated Vic,126,NaN
434,2017,March,Unincorporated Vic,Total,126,NaN

In [25]:
crime_incidents_df_clean = crime_incidents_df_yrfilter.loc[((crime_incidents_df_yrfilter['Local Government Area'] != 'Total') &
                                                           (crime_incidents_df_yrfilter['Local Government Area'] != ' Unincorporated Vic') &
                                                           (crime_incidents_df_yrfilter['Local Government Area'] != ' Justice Institutions and Immigration Facilities'))
                                                          ]
crime_incidents_df_clean

,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2021,March,1 North West Metro,Banyule,"6,308","4,794.9"
1,2021,March,1 North West Metro,Brimbank,"14,560","7,132.9"
2,2021,March,1 North West Metro,Darebin,"11,513","6,968.1"
3,2021,March,1 North West Metro,Hobsons Bay,"4,469","4,583.9"
4,2021,March,1 North West Metro,Hume,"15,540","6,301.2"
...,...,...,...,...,...,...
425,2017,March,4 Western,Surf Coast,"1,068","3,407.0"
426,2017,March,4 Western,Swan Hill,"1,753","8,408.9"
427,2017,March,4 Western,Warrnambool,"2,589","7,489.4"
428,2017,March,4 Western,West Wimmera,123,"3,158.7"
429,2017,March,4 Western,Yarriambiack,330,"4,937.2"

In [19]:
crime_incidents_df_clean['Local Government Area'].unique()

array([' Banyule', ' Brimbank', ' Darebin', ' Hobsons Bay', ' Hume',
       ' Maribyrnong', ' Melbourne', ' Melton', ' Moonee Valley',
       ' Moreland', ' Nillumbik', ' Whittlesea', ' Wyndham', ' Yarra',
       ' Alpine', ' Bass Coast', ' Baw Baw', ' Benalla', ' Boroondara',
       ' East Gippsland', ' Greater Shepparton', ' Indigo', ' Knox',
       ' Latrobe', ' Manningham', ' Mansfield', ' Maroondah', ' Mitchell',
       ' Moira', ' Monash', ' Murrindindi', ' South Gippsland',
       ' Strathbogie', ' Towong', ' Wangaratta', ' Wellington',
       ' Whitehorse', ' Wodonga', ' Yarra Ranges', ' Bayside',
       ' Cardinia', ' Casey', ' Frankston', ' Glen Eira',
       ' Greater Dandenong', ' Kingston', ' Mornington Peninsula',
       ' Port Phillip', ' Stonnington', ' Ararat', ' Ballarat', ' Buloke',
       ' Campaspe', ' Central Goldfields', ' Colac-Otway', ' Corangamite',
       ' Gannawarra', ' Glenelg', ' Golden Plains', ' Greater Bendigo',
       ' Greater Geelong', ' Hepburn', ' Hindmarsh', ' Horsham',
       ' Loddon', ' Macedon Ranges', ' Mildura', ' Moorabool',
       ' Mount Alexander', ' Moyne', ' Northern Grampians', ' Pyrenees',
       ' Queenscliffe', ' Southern Grampians', ' Surf Coast',
       ' Swan Hill', ' Warrnambool', ' West Wimmera', ' Yarriambiack',
       ' Unincorporated Vic'], dtype=object)

In [26]:
crime_incidents_df_clean['Incidents Recorded'].unique()

array(['6,308', '14,560', '11,513', '4,469', '15,540', '7,060', '26,031',
       '9,902', '6,121', '10,182', '1,525', '11,475', '12,748', '10,861',
       '400', '2,102', '3,599', '1,003', '5,965', '3,639', '5,950', '431',
       '8,305', '9,109', '3,380', '390', '5,726', '3,183', '1,635',
       '9,593', '666', '1,267', '457', '153', '1,665', '3,237', '6,968',
       '2,426', '6,154', '3,839', '5,572', '16,206', '10,234', '6,036',
       '14,257', '8,066', '7,648', '10,235', '8,981', '1,092', '7,222',
       '243', '2,459', '823', '1,228', '687', '642', '1,052', '454',
       '8,029', '15,568', '509', '289', '1,475', '413', '1,860', '4,417',
       '1,994', '730', '513', '899', '345', '82', '796', '1,165', '1,861',
       '2,209', '122', '335', '7,265', '15,483', '11,898', '4,905',
       '15,894', '7,308', '26,881', '9,323', '6,720', '11,102', '1,691',
       '12,246', '13,874', '11,433', '438', '1,787', '3,587', '935',
       '6,522', '3,638', '6,384', '430', '8,877', '10,076', '3,742',
       '337', '5,921', '3,122', '1,835', '9,580', '598', '1,360', '475',
       '155', '1,749', '3,385', '7,355', '2,828', '6,190', '4,195',
       '5,449', '17,157', '11,100', '6,105', '14,725', '9,036', '8,620',
       '9,984', '9,464', '894', '8,713', '254', '2,798', '866', '1,280',
       '549', '608', '472', '8,324', '17,002', '738', '246', '1,356',
       '366', '1,724', '5,547', '1,641', '506', '735', '350', '101',
       '887', '1,043', '1,770', '2,468', '142', '319', '7,007', '14,664',
       '11,247', '4,848', '15,592', '6,669', '26,561', '8,332', '6,486',
       '11,408', '1,624', '11,910', '11,462', '11,182', '399', '1,782',
       '3,179', '877', '5,570', '3,193', '6,229', '371', '8,093', '9,942',
       '3,411', '321', '6,034', '3,034', '1,682', '8,032', '593', '996',
       '448', '173', '1,639', '2,921', '6,362', '2,421', '5,768', '3,606',
       '4,697', '16,219', '11,157', '4,892', '14,198', '8,608', '8,160',
       '9,680', '8,170', '912', '8,129', '214', '2,919', '917', '1,321',
       '487', '581', '956', '510', '15,781', '619', '250', '1,436', '386',
       '5,493', '1,633', '751', '459', '762', '419', '118', '1,108',
       '1,868', '3,007', '125', '320', '7,369', '13,551', '11,425',
       '4,830', '15,266', '6,585', '26,830', '7,808', '6,692', '11,021',
       '1,795', '11,340', '10,647', '1,799', '2,929', '980', '5,632',
       '3,056', '5,980', '339', '8,518', '9,376', '3,660', '453', '5,880',
       '3,041', '1,504', '8,299', '532', '1,006', '171', '2,657', '6,497',
       '2,369', '5,516', '3,898', '4,294', '14,726', '10,721', '5,233',
       '13,628', '7,907', '8,519', '9,799', '8,005', '884', '8,900',
       '168', '2,511', '907', '1,242', '620', '417', '1,196', '481',
       '7,089', '16,864', '639', '253', '1,637', '317', '1,523', '4,822',
       '1,823', '733', '464', '802', '307', '108', '1,004', '952',
       '1,752', '2,707', '114', '358', '7,447', '14,674', '13,201',
       '5,229', '17,033', '7,193', '28,093', '8,968', '7,759', '11,801',
       '2,171', '12,870', '11,966', '11,310', '280', '1,986', '2,894',
       '1,000', '2,952', '6,307', '9,324', '10,348', '4,064', '470',
       '7,070', '3,141', '1,377', '9,028', '524', '1,145', '462', '174',
       '1,877', '3,224', '6,614', '2,532', '6,435', '4,127', '5,199',
       '18,111', '12,353', '5,873', '15,455', '8,381', '8,942', '10,493',
       '9,108', '909', '9,218', '141', '2,741', '950', '1,616', '801',
       '528', '1,380', '590', '18,085', '723', '288', '1,756', '393',
       '1,644', '5,216', '1,981', '908', '488', '933', '360', '135',
       '1,025', '1,068', '1,753', '2,589', '123', '330'], dtype=object)

In [30]:
crime_incidents_df_clean['Incidents Recorded'] = crime_incidents_df_clean['Incidents Recorded'].replace('[,]', '', regex=True).astype(int)

C:\Users\Work\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
crime_incidents_df_clean

,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2021,March,1 North West Metro,Banyule,6308,"4,794.9"
1,2021,March,1 North West Metro,Brimbank,14560,"7,132.9"
2,2021,March,1 North West Metro,Darebin,11513,"6,968.1"
3,2021,March,1 North West Metro,Hobsons Bay,4469,"4,583.9"
4,2021,March,1 North West Metro,Hume,15540,"6,301.2"
...,...,...,...,...,...,...
425,2017,March,4 Western,Surf Coast,1068,"3,407.0"
426,2017,March,4 Western,Swan Hill,1753,"8,408.9"
427,2017,March,4 Western,Warrnambool,2589,"7,489.4"
428,2017,March,4 Western,West Wimmera,123,"3,158.7"
429,2017,March,4 Western,Yarriambiack,330,"4,937.2"

In [36]:
crime_incidents_df_clean['Rate per 100,000 population'] = crime_incidents_df_clean['Rate per 100,000 population'].replace('[,]', '', regex=True).astype(float)

C:\Users\Work\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
crime_incidents_df_clean

,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2021,March,1 North West Metro,Banyule,6308,4794.9
1,2021,March,1 North West Metro,Brimbank,14560,7132.9
2,2021,March,1 North West Metro,Darebin,11513,6968.1
3,2021,March,1 North West Metro,Hobsons Bay,4469,4583.9
4,2021,March,1 North West Metro,Hume,15540,6301.2
...,...,...,...,...,...,...
425,2017,March,4 Western,Surf Coast,1068,3407.0
426,2017,March,4 Western,Swan Hill,1753,8408.9
427,2017,March,4 Western,Warrnambool,2589,7489.4
428,2017,March,4 Western,West Wimmera,123,3158.7
429,2017,March,4 Western,Yarriambiack,330,4937.2

In [38]:
crime_incidents_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 395 entries, 0 to 429
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         395 non-null    int64
 1   Year ending                  395 non-null    object
 2   Police Region                395 non-null    object
 3   Local Government Area        395 non-null    object
 4   Incidents Recorded           395 non-null    int32
 5   Rate per 100,000 population  395 non-null    float64
dtypes: float64(1), int32(1), int64(1), object(3)
memory usage: 20.1+ KB