In [2]:
%config Completer.use_jedi = False

import pandas as pd
from sqlalchemy import create_engine
from config import *
import datetime

In [3]:
crime_incidents_file = "Data/CriminalIncidentsData.csv"
crime_incidents_df = pd.read_csv(crime_incidents_file)
crime_incidents_df.head()

,Year,Year ending,Police Region,Local Government Area,Incidents Recorded,"Rate per 100,000 population"
0,2021,March,1 North West Metro,Banyule,"6,308","4,794.9"
1,2021,March,1 North West Metro,Brimbank,"14,560","7,132.9"
2,2021,March,1 North West Metro,Darebin,"11,513","6,968.1"
3,2021,March,1 North West Metro,Hobsons Bay,"4,469","4,583.9"
4,2021,March,1 North West Metro,Hume,"15,540","6,301.2"

In [4]:
offence_file = "Data/OffenceDivisionData.csv"
offence_df = pd.read_csv(offence_file)
offence_df.head()

,Year,Year ending,Police Service Area,Local Government Area,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,"PSA Rate per 100,000 population","LGA Rate per 100,000 population"
0,2021,March,Ballarat,Ballarat,A Crimes against the person,A10 Homicide and related offences,A10 Homicide and related offences,2,1.7,1.8
1,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,143,118.6,126.5
2,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,131,108.6,115.9
3,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",34,28.2,30.1
4,2021,March,Ballarat,Ballarat,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,279,231.3,246.8

In [5]:
victim_file = "Data/FamilyVictimsData.csv"
victim_df = pd.read_csv(victim_file)
victim_df.head()

,Year,Year ending,AFM Sex,AFM Age Group,AFM Counter,"Rate per 100,000 population"
0,2021,March,Females,00-04 years,242,127.8
1,2021,March,Females,05-09 years,543,266.1
2,2021,March,Females,10-14 years,"1,696",870.1
3,2021,March,Females,15-17 years,"2,262","2,081.5"
4,2021,March,Females,18-19 years,"2,165","2,994.0"